p align="center"
  a href="http://www.workingwithrails.com/recommendation/new/person/10627-paul-barry"
    img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-med.jpg" border="0"
