meta http-equiv="content-type" content="text/html; charset=utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="google-site-verification" content="pNqE5vuAoHO9opfamy7thd1b0aSzck5U08_DUDlm5h4"
link rel="openid.server" href="http://www.myopenid.com/server"
link rel="openid.delegate" href="http://paulbarry.myopenid.com/"
link rel="openid2.local_id" href="http://paulbarry.myopenid.com"
link rel="openid2.provider" href="http://www.myopenid.com/server"
meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=paulbarry.myopenid.com"
meta name="robots" content="#{@robots_should_index ? "index" : "noindex"},follow"
link rel="alternate" type="application/rss+xml" title="Recent Articles" href="http://feeds.feedburner.com/paulbarry"
link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Source+Sans+Pro:400|Source+Serif+Pro:600&display=swap" rel="stylesheet"
= stylesheet_link_tag "application"
title= @page_title
= yield :html_head